<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="htt://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Brian's Converter</title>
</head>
<body>
<h1>Welcome to Brian's Converter</h1>
	<form th:action="@{/runConversion}">
	Output of listOfUnitsToConvertFrom: <th th:text="${listOfUnitsToConvertFrom}"/><br></br>
		Units to convert from: <input type="number" name="numberOfUnitsToConvertFrom"/>
		
		 <select name="listOfUnitsToConvertFrom" th:value="${listOfUnitsToConvertFrom}">
			<option value="Inches">Inches</option>
			<option value="Feet">Feet</option>
		</select>
		Units to convert to: <select name="listOfUnitsToConvertTo">
			<option value="Inches">inches</option>
			<option value="Feet">feet</option>
			</select>
		Result: <th th:text="${result}"/>
		<br></br>
		<input type="submit" value="Convert"/>
	</form>
	 
  	<tr th:each="unit : #{length_units}">
		<td th:text="${unit}"> </td>
		</tr> 
		
		
	
	
</body>
</html>